body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background: #f8f8f8;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: bolder;
  border-bottom: 1px solid #CCC;
  padding-bottom: 0.4rem;
  margin-top: 40px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  border-left: 8px solid #00BCD4;
  padding-left: 0.5rem;
  margin-top: 30px;
  margin-bottom: 1.2em;
}
.first{
  font-size: 1.2rem;
  /* font-weight: bold; */
  margin-bottom: 1rem;
}
img {
  width: 100%;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

pre {
  background-color: #222;
  color: #DDD;
  border-radius: 8px;
  padding: 24px;
}
.myindex {
  position: sticky;
  top: 0; /* 固定位置を指定 */
  padding-top: 80px;
  min-width: 300px;
  height: 100vh; /* 画面の高さを目一杯使用 */
  overflow-y: auto; /* スクロール可能にする */
  transition: min-width 300ms ease;
}
.collapse-index {
  position: fixed;
  top: 0; /* 固定位置を指定 */
  background-color: #f8f8f8;
  padding-top: 80px;
  min-width: 300px;
  height: 100vh; /* 画面の高さを目一杯使用 */
  overflow-y: auto; /* スクロール可能にする */
  transition: left 300ms ease;
}
.open {
  left: 0;
}
.close {
  left: -300px;
}

iframe {
  width: 100%;
  max-width: 600px;

}
.mybrand {
  color: #07b9c3;
  padding-top: 0.5rem;
  padding-bottom: 0;
}
.content {
  padding-top: 30px;
  padding-bottom: 90px;
  margin: auto;

  height: "100vh";
  max-width: 800px;

  overflow-y: "scroll";
}

