body {
    background-color: #221
}
.ctr-pane{
    height: 54px;
}
.editor{
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.pane{
    height: calc(100vh - 110px);
    /* background-color: grey; */
}

.fixed-div{
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    width: 20vw;
    height: 50vh;
    opacity: 0.3
    /* overflow: auto; */
    /* border:1px solid #444444; */
    /* background-color:#EEEEEE; */
}

.pointer {
    cursor: pointer
}

.pianodiv {
    overflow: auto;
}
.pianotable {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}

.bar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.bar::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
}
.bar::-webkit-scrollbar-track-piece:start {
    background: #DDD;
}
.bar::-webkit-scrollbar-track-piece:end {
    background: #DDD;
}
