body {
    background-color: grey
}
.editor{
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.pane{
    height: calc(100vh - 88px);
    /* animation: flash 5.3s linear infinite; */
    background-color: #212529;
}

.knob {
    /* ノブのサイズ・背景などを円形に */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: ns-resize;
    margin: auto;
    position: relative;
  }
  .knob::before {
    /* ノブ中央から伸びる「つまみ」を擬似要素で作る */
    content: "";
    position: absolute;
    left: 45%;
    top: 3%;
    width: 4px;
    height: 18px;
    background: #ccc;
  }

@keyframes flash {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.reverse-wrapper{
    transform: rotateX(180deg);
    overflow-x: scroll;
    overflow-y: scroll;
}
.reverse-content{
    transform: rotateX(180deg);
}

.fixed-div{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 20vw;
    height: 70vh;
    
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
   
}
.opa{
    transition: filter 0.2s ease;
    filter: opacity(0.4);
}
.opa_disabled {
    filter: opacity(0.1); /* 暗くする */
}

.fixed-div2{
    position: fixed;
    bottom: 25px;
    left: 50vw;
    width: 25vw;
    height: 18vh;

    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    /* background-color: aqua; */
    transition: filter 0.2s ease;
    filter: opacity(0.2);
}
.fixed-div2:hover {
    filter: opacity(1.0); /* 明るくする */
}

.pointer {
    cursor: pointer
}


.pianotable {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}

.bar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.bar::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
}
.bar::-webkit-scrollbar-track-piece:start {
    background: #0e3542
}
.bar::-webkit-scrollbar-track-piece:end {
    background: #3c324a;
}
