body {
    background-color: #221
}
.editor{
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.pane{
    height: calc(100vh - 72px);
    /* background-color: grey; */
}

.fixed-div{
    position: fixed;
    bottom: 0vh;
    right: 2vw;
    width: 20vw;
    height: 70vh;
    background-color: orange;
    transition: filter 0.1s ease;
    filter: opacity(0.5);
    /* overflow: auto; */
    /* border:1px solid #444444; */
    /* background-color:#EEEEEE; */
}
.fixed-div:hover {
    filter: opacity(1.0); /* 明るくする */
}

.fixed-div2{
    position: fixed;
    bottom: 0vh;
    right: 22vw;
    width: 30vw;
    height: 40vh;
    background-color: aqua;
    transition: filter 0.1s ease;
    filter: opacity(0.5);
    /* overflow: auto; */
    /* border:1px solid #444444; */
    /* background-color:#EEEEEE; */
}
.fixed-div2:hover {
    filter: opacity(1.0); /* 明るくする */
}

.pointer {
    cursor: pointer
}

.pianodiv {
    overflow: auto;
}
.pianotable {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}

.bar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.bar::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
}
.bar::-webkit-scrollbar-track-piece:start {
    background: #DDD;
}
.bar::-webkit-scrollbar-track-piece:end {
    background: #DDD;
}
