body {
    background-color: #221
}
.editor{
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.pane{
    height: calc(100vh - 86px);
}
.reverse-wrapper{
    transform: rotateX(180deg);
    overflow-x: scroll;
    overflow-y: scroll;
}
.reverse-content{
    transform: rotateX(180deg);
}

.fixed-div{
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 20vw;
    height: 70vh;
    
    display: flex;
    align-items: center;
    flex-direction: column-reverse;


    /* background-color: orange; */
    transition: filter 0.2s ease;
    filter: opacity(0.2);
}
.fixed-div:hover {
    filter: opacity(1.0); /* 明るくする */
}

.fixed-div2{
    position: fixed;
    bottom: 25px;
    left: 50vw;
    width: 25vw;
    height: 18vh;

    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    /* background-color: aqua; */
    transition: filter 0.2s ease;
    filter: opacity(0.2);
}
.fixed-div2:hover {
    filter: opacity(1.0); /* 明るくする */
}

.pointer {
    cursor: pointer
}


.pianotable {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
}

.bar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.bar::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
}
.bar::-webkit-scrollbar-track-piece:start {
    background: #0e3542
}
.bar::-webkit-scrollbar-track-piece:end {
    background: #3c324a;
}
